/* @font-face {
    font-family: 'Montserrat';
    src: url("../public/fonts/Montserrat/Montserrat-Light.ttf");
    font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: 'Montserrat';
    src: url("../public/fonts/Montserrat/Montserrat-SemiBold.ttf");
    font-weight: 500;
    font-style: normal;  
}

@font-face {
    font-family: 'Montserrat';
    src: url("../public/fonts/Montserrat/Montserrat-Regular.ttf");
    font-weight: 400;
    font-style: normal;  
}  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&display=swap');