@use '../sass/vars' as c;

::placeholder {
    color: c.$c1 !important;
}

html {
    font-size: 10px;
}

body {
    font-family: Montserrat,sans-serif; 
    color: c.$c6;
    font-size: 14px;
    line-height: 1.42857;
    margin: 0;
    background: linear-gradient(c.$c1,c.$c1_1);
}


h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

hr {
    height: 1px;
    max-width: 100%;
    border: 0;
    background-image: linear-gradient(to right,transparent,c.$c4,transparent);
    margin-top: 20px;
    margin-bottom: 20px;
}