<!-- Experience -->
<section class="odd section" id="experience">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <h2>EXPERIENCE</h2>
                <hr class="section-hr">
            </div>
        </div>

        <article>
            <div class="container-fluid">
                <div id="experience-content" class="row">

                    <!-- Content add by JS -->
                </div>
            </div>
        </article>

    </div>
</section>

<!-- Modal Experience -->
<section class="modal-section" id="experience-modal">
    <!-- Add by JS -->
</section>
