<!-- Footer -->
<footer id="footer">
    <small>
        <span>Developed and designed by&nbsp;</span>
        <a href="#">Jehison G.B.</a>
        <span id="footer-copy">&copy;</span>
        <span><br> All rights reserved.</span>
    </small>
</footer>