<!-- Header -->
<header id="header">
    <div class="container-fluid">
        <div class="row">
            <!--Svg icons-->
            <div class="svg-wrapper"> {{> ./svgs}} </div>

            <!-- Name parts animation-->
            <div class="col-12">
                <h1 id="name">
                    <span class="com">w</span>
                    <span class="com">w</span>
                    <span class="com">w</span>
                    <span class="com">.&nbsp;</span>
                    <span>Jehison</span>
                    <span class="jehison transparent">&nbsp;</span>
                    <span>G</span>
                    <span class="jehison transparent">u</span>
                    <span class="jehison transparent">t</span>
                    <span class="jehison transparent">i</span>
                    <span class="jehison transparent">é</span>
                    <span class="jehison transparent">r</span>
                    <span class="jehison transparent">r</span>
                    <span class="jehison transparent">e</span>
                    <span class="jehison transparent">z</span>
                    <span class="jehison transparent">&nbsp;</span>
                    <span class="jehison transparent">d</span>
                    <span class="jehison transparent">e</span>
                    <span class="jehison transparent">&nbsp;</span>
                    <span class="jehison transparent">l</span>
                    <span class="jehison transparent">a</span>
                    <span class="jehison transparent">&nbsp;</span>
                    <span>B</span>
                    <span class="jehison transparent">a</span>
                    <span class="jehison transparent">r</span>
                    <span class="jehison transparent">r</span>
                    <span class="jehison transparent">e</span>
                    <span class="jehison transparent">r</span>
                    <span class="jehison transparent">a</span>
                    <span class="com">&nbsp;.</span>
                    <span class="com">c</span>
                    <span class="com">o</span>
                    <span class="com">m</span>
                </h1>
                <hr>
                <!-- My Description -->
                <p>
                    <span class="lead">Full-Stack JavaScript Developer</span>
                </p>
            </div>
        </div>
    </div>
</header>