@use "../vars" as c;

#portafolio {

    .btn-portafolio {
        display: block;
        position: relative;
        box-shadow: 0 0 10px #c0c6c9;
        max-width: 400px;
        margin: 0 auto;
        overflow: hidden;

        .zoom-icon {
            position: absolute;
            background-color: rgba($color: c.$c4, $alpha: 0);
            width: 100%;
            height: 100%;
            top: 0;
            transition: background-color ease .3s;

            & > img {
                width: 40%;
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(-40%,-50%);
                opacity: 0;
                transition: top ease .3s, opacity ease .3s;
            }

            h4 {
                display: block;
                margin: 0;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%,50%);
                color: c.$c1;
                opacity: 0;
                letter-spacing: 0.5px;
                transition: bottom ease .3s,opacity ease .3s;
            }


        }

        &:hover {
            .zoom-icon {
                background-color: rgba($color: c.$c4, $alpha: 0.75);    
                & > img {
                    opacity: 0.75;
                    top: 40%;
                }
            }
            & > img {
                transform: scale(1.25);
            }
            h4 {
                bottom: 30%;
                opacity: 1;
            }
        }
    }

    .image-container {
        img {
            border-radius: 0;  
            transition: transform ease .3s;
        }
    }

    a {
        text-decoration: none;
        color: c.$c1;
        &:hover {
            cursor: zoom-in;
        }
    }

}